.event-container{
  padding: 1rem .5rem;
  @include respond(md) {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .all-events{
    @include respond(md){
      display: flex;
      justify-content: center;
    }
    .event-summary{
      @include respond(md){
        width: 610px;
        max-width: 50%;
      }
      &__img{
        @include respond(md) {
          width: 30%;
        }
      }
      &__content{
        @include respond(md) {
          width: 70%;
        }
      }
    }
  }
}